<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
    <div id='container'>
        <div id='text'>
            <h1>Succes! Welcome,{{request.session.user_firstName}}!</h1>
            <p id="green">Successfully registered (or loged in)!</p>
        </div>
        <div id='button'>
            <a href='/logout'>Log Out</a>
        </div>     
    </div>
</body>
</html>